    <div class="col-4">
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {% if object.image %}
                        <img src="{{object.image.url}}" width="250" height="250" alt="Фото товара" class="rounded mx-auto d-block">
                    {% else %}
                        <p> нет изображения </p>
                    {% endif %}
                    {% if object.active_version_number %}
                        <p class="text-body-secondary">Текущая версия - {{ object.active_version_number }}</p>
                    {% endif %}
                </ul>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary" href = "{% url 'catalog:detail' object.pk %}">Смотреть</a>
            </div>
        </div>
    </div>